.next
coverage
node_modules
npm-debug.log
playwright-report
test-results
.env
.env.local
.env.development.local
.env.production.local
.env.test.local
.git
.gitignore
app-bootstrap
public/uploads
backups
